@media screen and (max-width: 1024px) {
    .landing_category_card{
        gap: 15px;
    }
    .landing_category_card_h2{
        font-size: 18px;
        line-height: 25px;
    }
    .landing_category_card ul {
        padding: 5px 10px;
        & li{
            gap: 2px;
            font-size: 10px;
        }
    }
    .landing_news_view_more_btn{
        font-size: 11px;
    }
}
@media screen and (max-width: 576px) {


    .landing_hero {
        min-height: 40vh;
    }

    .landing_hero_wrapper {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .landing_hero_wrapper_h2 {
        font-size: 20px;
        width: 100%;
        line-height: 30px;
    }

    .landing_hero_wrapper_h1 {
        font-size: 18px;
        line-height: 27px;
    }

    .landing_hero_wrapper_p {
        font-size: 13px;
        line-height: 19.5px;
        width: 100%;
    }

    .landing_hero_btn_holder {
        width: 100%;
        height: 8vh;
        justify-content: center;
        gap: 10px;
    }

    .landing_hero_btn {
        width: 100%;
        height: 100%;
        font-weight: 800;
        font-size: 16px;
        line-height: 24px;
    }

    .landing_ready_wrapper_h1 {
        font-size: 24px;
        line-height: 36px;
    }

    .landing_ready_wrapper_card_contain {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px; 
    }

    .landing_ready_card {
        width: 108%;
        height: 70vh;
        margin-bottom: 0px;
    }

    .landing_ready_card_img_holder {
        width: 100%;
        height: 60%;
    }

    .landing_category_wrapper_h1 {
        font-size: 20px;
        line-height: 28.13px;
    }

    .landing_category_wrapper_p {
        font-size: 15px;
    }

    .landing_category_card_container {
        flex-direction: column;
    }

    .landing_category_card {
        width: 95%;
    }

    .landing_price_category {
        & .landing_price_price_container_P{
            font-size: 22px;
        }
    }

    .landing_page_map_container {
        display: none;
    }

    .landing_meet_sponsor{
        
    }
    .landing_meet_sponsor_h1 {
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        margin-bottom: 0px;
    }

    .landing_news_h1 {
        font-size: 24px;
        line-height: 28.13px;
    }

    .landing_news_wrapper {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .landing_news_card {
        width: 90%;
        margin: 20px 0;
        min-height: 500px;
        height: auto;
    }

    .landing_news_img_container {
        height: 250px;
        min-height: 250px;
    }

    .landing_news_article {
        min-height: 250px;
        padding: 10px 0;
    }

    .landing_news_article_content {
        font-size: 13px;
        line-height: 19px;
        -webkit-line-clamp: 5;
    }

    .landing_news_article_header_h4{
        font-size: 16px;
        font-weight: 600;
    }

    .landing_news_view_more_btn {
        width: 90%;
        height: 10vh;
    }

    .landing_become_a_sponsor {
        height: 60vh;
    }

    .landing_become_a_sponsor_wrapper_1 {
        width: 100%;
    }

    .landing_become_a_sponsor_wrapper_1_H1 {
        font-size: 24px;
        line-height: 36px;
    }

    .landing_become_a_sponsor_wrapper_1_P {
        font-size: 16px;
        line-height: 24px;
    }

    .landing_become_a_sponsor_wrapper_2 {
        width: 90%;
    }

    .landing_become_a_sponsor_wrapper_2 ul{
        font-size: 13px;
    }

    .landing_become_a_sponsor_wrapper_2_button {
        width: 150px;
        height: 50px;
    }

    .landing_road_map {
        margin: 50px 0px;
    }

    .landing_road_map_title {
        height: 15%;
        line-height: 22.5px;
        font-size: 15px;
        font-weight: 700;
    }

    .landing_category_card ul{
        & li{
            font-size: 10px;
        }
    }
    .landing_category_card_h2 {
        font-size: 20px;
    }
    .landing_ready_wrapper_P{
        font-size: 14.5px;
    }
    .landing_news_view_more_btn{
        font-size: 16px;
    }
    .landing_become_a_sponsor_top{
        font-family: Poppins;
        font-size: 17px;
        font-weight: 600;
        line-height: 30px;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 20px;
    }
}

@media screen and (1025px <= width <= 1353px){
    .landing_category_card ul li{
        font-size: 10px;
        line-height: 16px;
    }
} 

@media screen and (width <= 1218px) {
    .landing_ready_card_A{
        line-height: 22px;
    }
}
@media screen and (width <= 980px) {
    .landing_ready_card_A{
        font-size: 12px;
        line-height: 18px;
    }
    .landing_ready_card{
        min-width: 300px;
    }
    
}
@media screen and (576px <= width <= 950px) {
    .landing_ready_wrapper_card_contain{
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .landing_price_category_wrapper{
        justify-content: center;
        /* flex-wrap: wrap; */
    }
    .landing_price_card{
        min-width: 160px;
        margin-inline: 5px;
    }
    
}

@media screen and ( width <= 674px) {
    .landing_price_category{
        height: 100%;
    }
    .landing_price_category_wrapper{
        flex-wrap: wrap;
        gap: 10px;
        height: 80%;
        justify-content: center;
    }
    .landing_price_card{
        width: 80%;
        margin-inline: 5px;
    }
}
@media screen and (width <= 400px) {
    .landing_category_card{
        padding-inline: 15px;
    }
    .landing_category_card ul li{
        margin-left: 10px;
    }
    & .landing_price_price_container_P{
        margin-top: 20px;
        line-height: 27px;
        font-size: 23px;
    }
    .landing_price_card{
        width: 95%;
        margin-inline: 5px;
    }
}

