.table-container {
    width: 100%;
    overflow-x: auto;
    min-height: 100vh;
  }
  
  .table {
    display: flex;
    flex-direction: column;
  }
  
  .table-header{
    display: flex;

    & div{
        flex: 1;
    }
  }
  .table-row {
    display: flex;

    & div{
        flex: 1;
    }
  }
  
  .table-cell {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    font-size: 12px;
  }
  
  .table-header .table-cell {
    background-color: #f4f4f4;
    font-weight: bold;
  }