.table-container {
    width: 100%;
    overflow-x: auto;
    min-height: 100vh;
  }
  
  .table {
    display: flex;
    flex-direction: column;
  }
  
  .table-header{
    display: flex;
  }
  .table-row {
    display: flex;
  }
  
  .table-cells {
    padding: 5px;
    border: 1px solid #ddd;
    text-align: left;
    font-size: 12px;
    background-color: #f4f4f4;
    font-weight: bold;
    width: 100px;
    overflow-x: auto;
  }
  .table-cell {
    padding: 5px;
    border: 1px solid #ddd;
    text-align: left;
    font-size: 12px;
    width: 150px;
    max-width: 100px;
    overflow-x: auto;
  }
  