.nutrition_tip_mainBody {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nutrition_tip_body_wrapper {
    width: 90%;
    box-shadow: 17px 9px 20.6px -1px rgba(0, 0, 0, 0.25);
    margin: 10vh 0 4vh 0;
    background: rgba(250, 254, 253, 1);
}