@media screen and (max-width: 576px) {

    .footer_mainBody {
        /* display: none; */
        justify-content: center;
    }

    .footer_wrapper {
        flex-wrap: wrap;
        width: 90%;
        justify-content: space-between;
    }

    .footer_wrapper_img_holder {
        width: 100%;
        & .footer_top_image{
            width: 100px;
            margin-bottom: 10px;
        }
    }

    .footer_wrapper ul {
        width: 49%;
        margin-bottom: 20px;
    }

    .footer_wrapper ul li:first-child {
        font-size: 18px;
        line-height: 18.75px;
    }

    .footer_wrapper ul li {
        font-size: 12px;
        line-height: 14.06px;
    }
    .footer_P{
        font-size: 14px;
        text-align: center;
    }

}