.resourceLink_mainBody {
    width: 100%;
    min-height: 100vh;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resourceLink_body_wrapper {
    width: 95%;
    border: 2px solid rgba(23, 183, 136, 1);
    background: rgba(164, 240, 218, 0.06);
    margin: 5vh 0;
    display: flex;
    justify-content: center;
}

/* .resourceLink_body {
    width: 100%;
    display: flex;
    justify-content: center;
} */

.resourceLink_main_body {
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 7vh;
    margin: 10vh 0;
}

.resourceLink_H1 {
    text-decoration: underline;
    font-weight: 700;
    font-size: 50px;
    line-height: 84px;
    color: rgba(35, 34, 34, 1);
}

.resourceLink_image_card{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* margin-bottom: 100px; */
}

.resourceLink_image_main_container{
    width: 33%;
    text-align: center;
}

.resourceLink_image_holder{
    width: 100%;
    height: 50vh;
    background-color: rgba(23, 183, 136, 1);
}

.resourceLink_image{
    width: 100%;
    height: 100%;
}

.resourceLink_image_H1{
    font-weight: 400;
    font-size: 40px;
    line-height: 46.88px;
    color: rgba(0, 0, 0, 1);
}

.resourceLink_image2_card{
    width: 100%;
    display: flex;
    /* margin-bottom: 100px; */
    justify-content: center;
}